*{
  box-sizing: border-box;
   margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif
}
.wrapper{
  position: relative;
  display: table;
  width: 0;
  height: 0;
  margin: 100px ;
}
.wrapper:hover{
  border: 1px solid grey;
  width: 500px;
  height: 450px;
}
.wrapper:hover .start{
  border-bottom: 1px solid white;
}
ul:hover ~ .block{
  display: block;
}
.start{
  position: absolute;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border: 1px solid grey;
  background: white;
  top: -49px;
  left: -1px;
}
.start:hover ~ ul{
  display: block;
}
.start:hover ~ .block{
  display: block;
}
ul{
  height: 450px;
  padding: 0;
  margin: 0;
  display: none;
}
ul:hover{
  display: block;
}
li:first-child{
  height: 50px;
}
li{
  height: 100px;
  list-style: none;
}
.right{
  animation: animateRight 0.25s infinite; 
  cursor: url("http://jantimon.nl/running_man/running_man_1.cur");
  cursor: url("http://jantimon.nl/running_man/running_man_1.png");
}
.left{
  animation: animateLeft 0.25s infinite;
  cursor: url("http://jantimon.nl/running_man/running_man_1_left.cur");
  cursor: url("http://jantimon.nl/running_man/running_man_1_left.png");
}


.block{
  position: absolute;
  background: #333333;
  display: none;
}
.block-1{
  height: 50px;
  width: 400px;
  top: 50px;
}
.block-2{
  height: 50px;
  width: 400px;
  top: 150px;
  right: 0;
  animation: block-movement 2s infinite;
}
.block-3{
  height: 50px;
  width: 250px;
  top: 250px;
  animation: block-movement 1s infinite;
}
.block-4{
  height: 50px;
  width: 400px;
  top: 350px;
  right: 0;
  animation: block-movement 0.75s infinite;
}
.block:hover ~ .game-over-wrapper{
  display: block;
}
.game-over-wrapper{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.game-over{
  width: 100%;
  height: 100%;
  color: #222222;
  text-align: center;
  vertical-align: middle;
  background: white;
  display: table-cell;
  opacity: 0;
}
.game-over-wrapper:hover{
  display: table;
}
.game-over:hover{
  font-size: 4rem;
  opacity: 1;
  transition: all 0.5s;
}
.finish{
  position: absolute;
  bottom:  -49px;
  right: -1px;
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid grey;
  border-top: 1px solid white;
  background: white;
  cursor: url("http://jantimon.nl/running_man/man_hands_up.cur");
  cursor: url("http://jantimon.nl/running_man/man_hands_up.png"), auto;
}
.won{
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  line-height: 450px;
  color: #222222;
  text-align: center;
  vertical-align: middle;
  background: white;
  z-index: 100;
  opacity: 0;
  display: none;
  transition: all 0.5s;
  font-size: 1rem;
  cursor: url("http://jantimon.nl/running_man/man_hands_up.cur");
  cursor: url("http://jantimon.nl/running_man/man_hands_up.png"), auto;
  
}
.finish:hover + .won,
.won:hover{
  display: table;
  font-size: 4rem;
  opacity: 1; 
}


@keyframes block-movement{
  0%{
    width: 400px;
  }
  50%{
    width: 498px;
  }
  100%{
    width: 400px;
  }
}
@keyframes animateRight{
  0%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
  }
  20%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
  }
  40%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
  }
  60%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
  }
  80%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
  }
  100%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
  }
}

@keyframes animateLeft{
  0%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_1_left.png"), auto;
  }
  20%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_2_left.png"), auto;
  }
  40%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_3_left.png"), auto;
  }
  60%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_4_left.png"), auto;
  }
  80%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_5_left.png"), auto;
  }
  100%{ 
    cursor: url("http://jantimon.nl/running_man/running_man_1_left.png"), auto;
  }
}